body {
  background: #a7e1a8;
  text-align: center;
}
#top {
  width: 1000px;
  height: 100px;
  background: #5b5c5b;
  margin: 25px auto;
  text-align: center;
}
#main {
  width: 1000px;
  height: 600px;
  background: #ffffff;
  margin: 25px auto;
}
h1 {
  font-family: 'Comfortaa', cursive;
  font: 48px #5c8a75;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font: 36px #5c8a75;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font: 28px #65bf96;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font: 26px #65bf96;
}
p {
  font-family: 'Roboto', sans-serif;
  font: 18px #5c8a75;
}
